.sidebar {
    position: fixed; /* Fixed position relative to the viewport */
    top: 0; /* Align to the top of the viewport */
    left: 0; /* Align to the left of the viewport */
    width: 235px; /* Adjust the width as needed */
    background-color: #fff;
    height: 100vh; /* Full height of the viewport */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000; /* Ensures the sidebar is above other content */
}

  /* ... existing styles ... */
  
  .sidebar-menu .menu-item,
  .sidebar-general .menu-item {
    display: block;
    width: 100%; /* Makes the buttons extend to the full width of the sidebar */
    padding: 10px 20px; /* Adjust padding as needed */
    margin-bottom: 15px; /* Increases space between each menu item */
    text-align: left; /* Aligns text to the left */
    /* Add other styles such as background-color, color, etc. */
  }
  
  /* Adjust the margin-bottom for the last item before the GENERAL section */
  .sidebar-menu .menu-item:last-child {
    margin-bottom: 100px; /* Adds extra space before the GENERAL section */
  }
  
  /* Add spacing above the GENERAL heading */
  .sidebar-general {
    margin-top: 30px; /* Adds space before the GENERAL section */
  }
  
  /* ... other existing styles ... */
  
  .sidebar-logo {
    /* Style your logo container */
    text-align: center;
    margin-bottom: 50px;
  }
  /* ... other styles ... */
  
  .sidebar-logo img {
    max-width: 50%; /* or a fixed width, e.g., 200px */
    height: auto; /* maintain aspect ratio */
    /* You can also add a specific height if needed */
  }
  
  /* ... other styles ... */
  
  .menu-heading {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
  }
  
  .menu-item {
    display: block;
    background-color: #f0f0f0; /* Adjust colors as needed */
    color: #333;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    text-align: left;
  }
  
  /* Specific styles for each menu item can be adjusted or added here */
  /* Soft pastel colors for menu items */
  .menu-item.dashboard { background-color: #9adbad; /* Softer green */ }
  .menu-item.records { background-color: #a3c1da; /* Softer blue */ }
  .menu-item.analytics { background-color: #e1a3a3; /* Softer red */ }
  .menu-item.appointments { background-color: #bda6d4; /* Softer purple */ }
  .menu-item.settings,
  .menu-item.support { background-color: #f0f0f0; /* Light gray for general items */ }
  
  .menu-item:hover {
    /* Slightly darker on hover for interactive feedback */
    filter: brightness(95%);
  }
  
  /* You can add responsive styles if needed */
  