.card {
    border-bottom: 1px solid gray;
    padding: 10px;
    margin-top: 5px;
    background-color: powderblue;
    height: 7%;
    display: flex; /* Aligns the children (p tags) side by side */
    justify-content: space-between; /* Distributes the children evenly */
    align-items: center; /* Centers the children vertically */
    gap: 20px; /* Adds some space between the children */
}


.InsuraceIdPtag {
    width: 25%;
    text-align: left;   
}

.DOBPtag{
    width: 25%;
    text-align: left; 
    padding-left: 10px; 
    
}

.SexPtag{
    width: 22.5%;
    text-align: left; 
    padding-left: 10px; 


}
.Nameptag{
    width: 22.5%;
    text-align: left;  
    padding-left: 26px;
}