header {
    position: fixed;
    top: 0;
    left: 20%;
    right: 0;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
}

.search-container {
    display: flex;
    align-items: center;
    width: 40%;
}


.search-input {
    margin-left: 2%;
    flex-grow: 1; /* Allows the input to grow within the search container */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
    background-color: #ffffff;
    color: #333;
    width: 100%; /* Makes the input take the full width of its container */
}

.search-icon {
    width: 30px;
    height: auto;
    background-color: #ddd;
    padding: 5px;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}

.date-display {
    margin-right: 20px;
    font-size: 16px;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    padding: 5px 10px; /* Added padding for better visibility */
    font-size: 14px; /* Font size for the text in buttons */
}

.message-icon, .alert-icon, .exit-icon {
    /* Add specific styles for each icon here if needed */
}
/* ... existing styles ... */

.icon-button img {
    width: 20px; /* Adjust the size as needed */
    height: auto;
}

/* ... other styles ... */
