.TimelineCard {
    background-color: white;
    width: 85%;
    left: 15%;
}

.timelinebar {
    background-color: lightcoral;
    width: 10%;
    left: 15%;
}



.maindiv{
    display: flex;
    height: 100%;
    width: 125%;
    background-color: lightblue;
}